@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 60.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  background-image: linear-gradient(to top left, #d4d0e0 0%, #ffffff 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgb(4, 156, 156);
  border: 1px solid rgb(4, 156, 156);
  border-radius: 4px;
}

main {
  position: relative;
  width: 118rem;
  height: 58rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}

/* header title */

.title {
  display: flex;
  position: absolute;
  left: 50%;
  top: 10%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.title > h1 {
  font-size: 3.5rem;
  color: rgb(4, 156, 156);
  margin-left: 1rem;
}

.title > i {
  font-size: 4.5rem;
  color: rgb(4, 156, 156);
}

/* end of header title */

/* input */

.todo-input {
  display: flex;
  flex-direction: row;
  position: absolute;
  padding: 2px;
  left: 50%;
  top: 35%;
  width: 950px;
  height: 100px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.todo-input input {
  padding-left: 20px;
  width: 20rem;
  height: 7rem;
  padding: 12px 20px;
  flex-grow: 2;
  border: none;
  font-size: 20px;
}

.todo-input button {
  position: absolute;
  right: 25px;
  top: 14px;
  border: none;
  height: 40px;
  width: 65px;
  border-radius: 12px;
  outline: none;
  text-align: center;
  font-weight: bold;
  padding: 2px;
  color: #ccc;
  background-color: rgb(4, 156, 156);
}

.todo-input i {
  position: absolute;
  right: 110px;
  top: 18px;
  border: none;
  height: 40px;
  width: 65px;
  outline: none;
  text-align: center;
  font-weight: bold;
  padding: 2px;
  color: rgb(4, 156, 156);
}

.todo-input button,
i:hover {
  cursor: pointer;
}
/* end of input */
